/* STILI GENERALI PAGINA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* STILI HEADER */

header{
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 500;
}

.nav-up{
    display: flex;
    align-items: center;
}

.distance{
    padding: 0 16px;
}

.distance a{
    color: #000;
    text-decoration: none;
}

.distance button{
    font-size: 15px;
    padding: 8px 13px;
    text-decoration: none;
    border: none;
    color: white;
    background-color: #0161ff;
}